<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="cn.edu.fudan.se.helpseeking.eclipsemonitor.monitors.ConsoleLineTracker"
            id="cn.edu.fudan.se.helpseeking.eclipsemonitor.monitors.ConsoleLineTracker"
            processType="java">
      </consoleLineTracker>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Help Seeking Monitor"
            id="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor">
      </category>
      <view
            category="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor"
            class="cn.edu.fudan.se.helpseeking.eclipsemonitor.views.RecommendationView"
            icon="icons/types.gif"
            id="cn.edu.fudan.se.helpseeking.eclipsemonitor.views.RecommendationView"
            name="Context Recommendation View">
      </view>
      <view
            category="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor"
            class="cn.edu.fudan.se.helpseeking.eclipsemonitor.views.TaskTrackView"
            icon="icons/seq.gif"
            id="cn.edu.fudan.se.helpseeking.eclipsemonitor.views.TaskTrackView"
            name="Behavior Sequence View">
      </view>
      <view
            category="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor"
            class="cn.edu.fudan.se.helpseeking.views.HelpSeekingSearchView"
            icon="icons/abstract.gif"
            id="cn.edu.fudan.se.helpseeking.views.HelpSeekingSearchView"
            name="Help Seeking Search View"
            restorable="true">
      </view>
      <view
            category="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor"
            class="cn.edu.fudan.se.helpseeking.views.HelpSeekingSolutionView"
            icon="icons/enum.gif"
            id="cn.edu.fudan.se.helpseeking.views.HelpSeekingSolutionView"
            name="Help Seeking Solution View"
            restorable="true">
      </view>
      <view
            category="cn.edu.fudan.se.helpseeking.HelpSeekingMonitor"
            class="cn.edu.fudan.se.helpseeking.views.HelpSeekingCommentsView"
            icon="icons/refresh.gif"
            id="cn.edu.fudan.se.helpseeking.views.HelpSeekingCommentsView"
            name="Help Seeking Comments View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.edu.fudan.se.helpseeking.perspective.HelpSeekingPerspective"
            icon="icons/volatile_co.gif"
            id="cn.edu.fudan.se.helpseeking.perspective.HelpSeekingPerspective"
            name="Help Seeking Perspective">
      </perspective>
   </extension>
   
   <extension
        point="org.eclipse.ui.preferencePages">
   <page
       name="FDUHelpSeeking Configuration"
       class="cn.edu.fudan.se.helpseeking.preferences.RootPreferencePage"
       id="cn.edu.fudan.se.helpseeking.preferences.RootPreferencePage"> 
       </page>
   <page
    name="DB数据库"
     category="cn.edu.fudan.se.helpseeking.preferences.RootPreferencePage"
     class="cn.edu.fudan.se.helpseeking.preferences.DBPreferencePage"
      id="cn.edu.fudan.se.helpseeking.preferences.DBPreferencePage">
    </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension> 
   
</plugin>
